BOT_TOKEN=8692345998:AAEiHmxLopM8lxVVTaovcj42EdKLl1rURfU
OWNER_ID=123456789
SCHEDULE_SPREADSHEET_ID=1qXt0kKVhTQpi3MJaVCinZG8a0pxZISxUuLNvU-kXkcY
MOTIVATION_SPREADSHEET_ID=1UAeDQksHXDMmoUwXYjRyVe5Ic1Pza48cHT2u3LEuEnA
TIPS_SPREADSHEET_ID=1uCq2J48PZIIKdAJWCaArMqT8gLzXXGx_1QukC74D5gU